/*Abel Mansilla Felipe*/
body{
	font-size:1.2rem;
	/* background-image: url("https://s1.1zoom.me/b7147/40/Christmas_Holidays_Wood_511426_1920x1080.jpg"); */
	margin: 0px;
	/* width: 1440px; */
	/* color: #F9F9EB; */
	color: white ;
	font-weight: bold;
	background-color: #FF0023;
}

@font-face {
	font-family: themillion;
	src: url(fuente.ttf);
}
 span{
	 /* font-family: themillion; */
	 font-size: 48px;
	 float: left;
	 padding-left: 20px;
 }

 header{
 	/* background-color: #EB1420; */
	background: linear-gradient(to bottom,#EB1420, white);
 	overflow: hidden;
 	/* box-shadow: 0px 3px 7px black; */
 	width: 100%;
 	position: fixed;
	height: 100px;
 	top: 0px;
 	left: 0px;
 }


 header nav{
   margin-right: 1%;
 	text-align: center;
   float: right;
   overflow: hidden;
 }
 header nav ul{
 	list-style-type: none;
 }
 header nav li{
 		float: left;
   line-height: 5.33rem;
 }
 header nav a{
 	display: block;
 	font-weight: bold;
 	padding: 0px 0.9rem;
 	text-decoration: none;
 	transition: all 500ms ease;
 }



.loyola{
	float: left;
	width: 190px;

}

#madera{
	width: 100%;
	margin-bottom: 2rem;
	padding-top: 100px;
	height: auto;
}



main{

}

#portal{
	width: 500px;
}

footer{
	/* background-color: #EB1420; */
	background-color: #009E28;
	padding: 5px 0px;
	text-align:center;
	font-size:13px;
	margin-top:200px;
}
